form{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    
}
/* input{
    width: auto;
} */

.shell{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.size input{
    width: 3rem;
}
button{
    border-radius: 10%;
    margin-top: 10px;
}