.container{
    margin-top:4rem ;
    width:80%;
    
}
.container li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0 auto;
}
.size{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.desc{
    width: 13rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}